html, body {
  width : 100%;
  height: 100%;
  background: #000;
}

.resetframe {
  width: 100%;
}

.hide {
  display: none;
}
.hidden {
  position: absolute;
  top: -9999999px;
  left: -9999999px;
  visibility: hidden;
  opacity: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
}
